
<!--{{ checklist }}-->

<!-- trying if similar to index.html 
{% if list_of_sets %}
    <ul>
        {% for sets in list_of_sets %}
            <li><a href="/list/{{ sets.id }}"><h1>{{ sets }}</h1></a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Sets are available.</p>
{% endif %}
-->



<!--
    test of available attributes
<ol>
{% for a in checklist.list_of_sets.all %}
    <li>{{ a.set_name }}</li>
    <li>{{ a.items_in_set.all }}</li>
    <li>{{ a.pop_in_set.all }}</li>
{% endfor %}
</ol>
-->
<h1>{{ checklist.store_name }}</h1>

<ol>
{% for a in checklist.list_of_sets.all %}
    <li>{{ a.set_name }}
        
        <ol>
        {% for b in a.items_in_set.all %}
            <li>{{ b.item_desc }}
                
                <ol>
                
                    <li>{{ b.item_vpn }}</li>
                    <li>{{ b.item_crc }}</li>
                    <!-- is displayed, want to have a drop down menu to change is displayed-->
                    <li>{{ b.item_is_displayed }}</li>
                    <li>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ b.form }}
                            <input type="submit" value="Submit">
                        
                        </form>                        

                    </li>
                </ol>
            </li>
        {% endfor %}
        {% for b in a.pop_in_set.all %}
            <li>{{ b.pop_desc }}
                <select>
                    <option>{{ b.pop_is_displayed }}</option>
                    <option> 1</option>
                </select>
            </li>
        {% endfor %}
        </ol>        
    </li>
{% endfor %}
</ol>