<h1>{{ sets.set_name }}</h1>


<ol>
    {% for a in sets.items_in_set.all %}
        <ul>
            <li><a href="/list/{{ checklist.id }}/{{ sets.id }}/{{ a.id }}">{{ a.item_desc }}</a>
                <ul>
                    <li>{{ a.itemDisplayed }}</li>
                    <li>{{ a.itemDisplayedtest }}</li>
                </ul>
            </li>
        </ul>
        {% endfor %}
</ol>
<!--
{% if itemlist %}
    <ul>
    {% for i in itemlist %}
        <li><a href="/list/{{ checklist.id }}/{{ sets.id }}/{{ item.id }}"><h1>{{ i }}</h1></a></li>
            <ol>
                <li>{{ i.id }}</li>
                <li>{{ i.item_vpn }}</li>
                <li>{{ i.item_crc }}</li>
                <li>{{ i.itemDisplayed }}</li>
            </ol>
        {% endfor %}
    </ul>
{% else %}
    <p>No items</p>
{% endif %}
-->