.container {
    background: grey;
    padding: 100px
}

ul {
    background: #919191;
    padding: 40px;
    list-style-type: none;
    font-size: 20;
}
ul li {
    color: black;
    background: grey;
    margin: 5px;
    font-size: 20;
}


h1 {
    font-size: 40px;
}

h1:visited {
    color: red;
    text-decoration: none;
}

h1:link {
    color: red;
    text-decoration: none;
}

h1:hover {
    color: grey;
    text-decoration: none;
}

h1:active {
    color: red;
    text-decoration: none;
}

a.store_names:link {
    color: red;
}